{% extends "layout.html" %}
{% block body %}
    <div id="filter" class="form filter rounded shaded">
        <div class="center-content">targets</div>
        <hr>
        <div id="filter-target"></div>
        <br/>
        <div class="center-content">agents</div>
        <hr>
        <div id="filter-agent"></div>
    </div>
    <div id="map" class="map">Loading beacons...</div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='badger.js') }}"></script>
{% endblock %}
