{% extends "layout.html" %}
{% block body %}
    <br/>
    {% if g.user.is_admin %}
    <div class="row">
        <div class="six columns offset-by-three center-content">
            <form action="{{ url_for('target_add') }}" method="post">
                <input style="vertical-align: middle" name="target" type="text" placeholder="target name" />
                <input style="vertical-align: middle" type="submit" value="add" onclick="this.form.submit();" />
            </form>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="u-full-width center-content targets">
        {% if targets|length > 0 %}
            <table class="sortable center">
                <thead>
                    <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                {% for target in targets %}
                    <tr>
                    {% for column in columns %}
                        <td>{{ target[column] }}</td>
                    {% endfor %}
                        <td>
                            <input type="button" onclick="window.location='{{ url_for('macro_gen', guid=target.guid) }}'" value="macro" />
                            <input type="button" onclick="window.open('{{ url_for('demo', guid=target.guid) }}', '_blank')" value="demo" />
                        {% if g.user.is_admin %}
                            <input type="button" onclick="if (confirm('Are you sure you want to delete this target and all of its beacons?')) { window.location='{{ url_for('target_delete', guid=target.guid) }}' }" value="delete" />
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5>No targets.</h5>
        {% endif %}
        </div>
    </div>
{% endblock %}
